*{
    margin: 0;
    padding: 0;
}

body{
     font-family: "Roboto", sans-serif;
}

.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightblue;
}
.main-container{
    height: 60%;
    width: 45%;
    background-color: black;
    border: red 3px solid;
    box-shadow: 0 0 20px red;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:10%;
   
}
.heading{
    text-align: center;
    color: rgb(255, 0, 111);
   
}
.input-field{
    border: yellow 2px solid;
    box-shadow: 0 0 20px yellow;
    border-radius: 10px;
    padding: 2%;
    width: 65%;
    font-size: large;
}
.input-field:focus{
    box-shadow: 0 0 20px pink;
    border:pink 2px solid;
}
.btn-container{
    width: 100%;
    display: flex;
   justify-content: center;
    gap: 6%;
    
}
.btn{
    padding: 9px;
    width: 60px;
    border-radius: 10px;
    border: violet 1px solid;
    background-color: violet;
    box-shadow: 0 0 10px violet;
    font-size: large;
    font-weight: bold;
}
.output-field{
    width: 50%;
    padding: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: blueviolet;
    background-color: bisque;
    font-size: x-large;
    font-weight: bold;
    border-radius: 10px;
    box-shadow: 0 0 10px bisque;
  
}
