*{
    margin: 0;
    padding: 0;
}
body{
    font-family: "Roboto", sans-serif;
}

.container{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 70px;
}
.color-container{
    display: flex;
    gap: 80px;
}
.color{
    height: 140px;
    width: 140px;
    border: black 3px solid;
    border-radius: 10px;
}
.red{
    background-color: rgb(255, 0, 0);
}
.yellow{
     background-color: yellow;
}
.blue{
    background-color: rgb(0, 191, 255);
}
.pink{
    background-color: pink;
}