*{
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
      cursor:none;
       height: 100vh;
}
p{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    font-weight: bolder;
    font-family: "Roboto", sans-serif;
    color: white;
}
.cursor{
    height: 30px;
    width: 30px;
    background-color: rgb(201, 255, 7);
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    pointer-events: none;
    
}